<select name="scale-type" class="custom-input-color form-control my-2">
    <option value="linear">Scale: Linear</option>
    <option value="logarithmic">Scale: Logarithmic</option>
</select>
<select name="chart-type" class="custom-input-color form-control my-2">
    <option value="total">Displaying: Total</option>
    <option value="daily-change">Displaying: Daily change</option>
</select>
<div>
    Smoothing factor <small>(average N days to the left and right, filling in blanks with nearest value)</small>
</div>
<input type="text" id="smoothing" class="custom-input-color form-control my-2" value=0>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="display-confirmed" name="display-confirmed" checked="checked">
    <label class="form-check-label" for="display-confirmed">
        Display confirmed cases
    </label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="display-deaths" name="display-deaths" checked="checked">
    <label class="form-check-label" for="display-deaths">
        Display deaths
    </label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="display-recovered" name="display-recovered" checked="checked">
    <label class="form-check-label" for="display-recovered">
        Display recovered cases
    </label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="display-active" name="display-active">
    <label class="form-check-label" for="display-active">
        Display active cases
    </label>
</div>