<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision - Contact</title>
        {{>styles}}
        <style>
            .contact-container {
                display: flex;
                flex-direction: column;
            }
            .contact-container li {
                list-style: none;
            }
            .contact-container > .contact-row {
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding-top: 1rem;
                display: flex;
                text-align: left;
                border-top: 1px solid #f5f5f5;
            }
        </style>
	</head>
	<body>
		{{>navbar}}
		<div class="container box mx-auto">
            <h1 class="text-center">Contact Us</h1>
            <div class="contact-container">
                <div class="contact-row">
                    <div class="text-right" style="flex: 1">
                        <img src="/static/img/noprofile.png">
                    </div>
                    <div style="flex: 2">
                        <ul>
                            <li>
                                Michael Fatemi
                            </li>
                            <li>
                                Email: <a href="mailto:myfatemi04@gmail.com">myfatemi04@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contact-row">
                    <div class="text-right" style="flex: 1">
                        <img src="/static/img/noprofile.png">
                    </div>
                    <div style="flex: 2">
                        <ul>
                            <li>
                                Autin Mitra
                            </li>
                            <li>
                                Email: <a href="mailto:">not shown</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contact-row">
                    <div class="text-right" style="flex: 1">
                        <img src="/static/img/noprofile.png">
                    </div>
                    <div style="flex: 2">
                        <ul>
                            <li>
                                Suhas Nandiraju
                            </li>
                            <li>
                                Email: <a href="mailto:">not shown</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
	</body>
</html>