<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision - Data by Country</title>
		{{> styles}}
		<script src="/js/corona_datatables.js"></script>
		<script src="/js/corona_globals.js"></script>
		<script src="/js/corona_stats.js"></script>
		<script src="/js/selector.js"></script>
		<script src="/js/corona_util.js"></script>
		<script>
			function init() {
				CORONA_GLOBALS.reload_function = update_date;
				init_dates();
			}

			function update_date() {
				reload_data();
				update_stats();
			}

			function init_dates() {
				$.getJSON(
					"/list/dates",
					{},
					(data) => {
						for (let result of data) {
							$("#date")[0].innerHTML += `<option value="${result.entry_date}">${result.entry_date == "live" ? "Live data" : result.entry_date}</option>`;
						}
						
						//init_selectors();
						init_stats_panel();

						CORONA_GLOBALS.reload_function = update_date;
						update_date();
					}
				)
			}
		</script>
	</head>
	<body onload="init()">
		{{> navbar}}
		<div class="d-flex flex-column">
			<div class="scroll box d-flex flex-column">
				{{!-- Region:
				{{>selectors}} --}}
				<div id="stats-info" class="lato" style="display: none; font-size: 3rem;">
					<span id="stats-label" class="font-weight-bold"></span><br/>
					<span id="stats-confirmed" class="font-weight-bold" style="color: #eb7a34"></span>
					<span class="stats-label">Confirmed</span><br/>
					<span id="stats-dconfirmed" class="font-weight-bold" style="color: #ffbe96"></span>
					<span class="stats-label">New cases today</span><br/>
					<span id="stats-recovered" class="font-weight-bold text-success"></span>
					<span class="stats-label">Recoveries</span><br/>
					<span id="stats-deaths" class="font-weight-bold" style="color: #ff5252"></span>
					<span class="stats-label">Deaths</span><br/>
					<span id="stats-serious" class="font-weight-bold" style="color: #b02020"></span>
					<span class="stats-label">Severe cases</span><br/>
				</div>
			</div>
			<div class="box">
				Date:
				<select class="custom-input-color form-control my-2" id="date" onchange="update_date()" style="border-radius: 0.25rem;">
					
				</select>
			</div>
			<table id="datatable" class="data-container">
				<thead class="border-bottom pos-sticky datatable-head custom-bg">
					<tr class="d-flex py-2">
						<th style="flex: 1;">
							<input type="text" onkeyup="filter_table()" class="custom-input-color small-input" placeholder="Search for location" id="locationSearch">
						</th>
					</tr>
					<tr class="d-flex py-2" style="font-size: 0.75rem;">
						<th style="flex: 0.5;"></th>
						<th style="flex: 2;">Location</th>
						<th style="flex: 1;">Confirmed</th>
						<th style="flex: 1;">New</th>
						<th style="flex: 1;">Recovered</th>
						<th style="flex: 1;">Deaths</th>
						<th style="flex: 1;">New</th>
						<th style="flex: 1;">Tests</th>
						<th style="flex: 1;">Serious cases</th>
						<th style="flex: 1;">Source</th>
					</tr>
				</thead>
				<tbody id="tablebody">
					
				</tbody>
			</table>
		</div>
	</body>
</html>