<!DOCTYPE html>
<html>
    <head>
        <title>Corona Vision - Sources</title>
        {{>styles}}
    </head>
    <body>
        {{>navbar}}
        <div class="container box mx-auto">
            <h1 class="text-center">Sources: COVID-19 Data</h1>
            <ul>
                <li>
                    <a href="https://www.worldometers.info/coronavirus/">Worldometers (live country-level data, testing data)</a>
                </li>
                <li>
                    <a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports">JHU (county-level data for the US, province-level data for Netherlands)</a>
                </li>
                <li>
                    <a href="https://bnonews.com/index.php/2020/04/the-latest-coronavirus-cases/">BNO (live state-level data)</a>
                </li>
                <li>
                    Local government websites (province-level data)
                </li>
                <li>
                    Our COVID-19 news is
				    <a href="http://newsapi.org/">powered by News API.</a>
                </li>
            </ul>
        </div>
    </body>
</html>