<!DOCTYPE html>
<html>
    <head>
        <title>Corona Vision - Simulate the Curve</title>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="/js/corona_curve_sim.js"></script>
        {{>styles}}
    </head>
    <body onload="init_curve_sim();">
        {{>navbar}}
        <div class="container box mx-auto">
            <h1>Curve Simulator</h1>
            <label for="rate">Rate of spread</label>
            <select id="rate" class="custom-input-color form-control">
                <option value="1.00">100% chance of catching disease</option>
                <option value="0.9">90% chance of catching disease</option>
                <option value="0.8">80% chance of catching disease</option>
                <option value="0.70">70% chance of catching disease</option>
                <option value="0.60">60% chance of catching disease</option>
                <option value="0.50">50% chance of catching disease</option>
                <option value="0.40">40% chance of catching disease</option>
                <option value="0.30">30% chance of catching disease</option>
                <option value="0.20">20% chance of catching disease</option>
                <option value="0.10">10% chance of catching disease</option>
                <option value="0.05">5% chance of catching disease</option>
            </select>
            <label for="contact">Percent of population that comes in contact with others</label>
            <select id="contact" class="custom-input-color form-control">
                <option value="1.00">100% of population is exposed daily</option>
                <option value="0.9">90% of population is exposed daily</option>
                <option value="0.8">80% of population is exposed daily</option>
                <option value="0.70">70% of population is exposed daily</option>
                <option value="0.60">60% of population is exposed daily</option>
                <option value="0.50">50% of population is exposed daily</option>
                <option value="0.40">40% of population is exposed daily</option>
                <option value="0.30">30% of population is exposed daily</option>
                <option value="0.20">20% of population is exposed daily</option>
                <option value="0.10">10% of population is exposed daily</option>
                <option value="0.05">5% of population is exposed daily</option>
            </select>
            <label for="max_size">Population size</label>
            <select id="max_size" class="custom-input-color form-control">
                <option data-pop="320000000" data-health="928000">USA</option>
                <option data-pop="37590000" data-health="103372">Canada</option>
                <option data-pop="51640000" data-health="493678">South Korea</option>
                <option data-pop="126500000" data-health="1695100">Japan</option>
                <option data-pop="1393000000" data-health="5850600">China</option>
                <option data-pop="60360000" data-health="205224">Italy</option>
            </select>
            <canvas id="chart"></canvas>
        </div>
    </body>
</html>