<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision - Contact</title>
        {{>styles}}
        <style>
            .contact-container {
                display: flex;
                flex-direction: column;
            }
            .contact-container li {
                list-style: none;
            }
            .contact-container > .contact-row {
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding-top: 1rem;
                display: flex;
                text-align: left;
                border-top: 1px solid var(--color-fg-light, #f5f5f5);
            }
        </style>
	</head>
	<body>
		{{>navbar}}
		<div class="container box mx-auto d-flex flex-column align-items-center">
            <h1>Contact Us</h1>
            <span>
                Have an idea for a new feature? Send us an email at <a href="mailto:coronavisiontracker@gmail.com">coronavisiontracker@gmail.com</a>!<br/>
                Credits:<br/>
                <ul>
                    <li>Lead developer: <b>Michael Fatemi</b></li>
                    <li>Machine Learning models: <b>Suhas Nandiraju</b></li>
                    <li>App development (coming soon): <b>Autin Mitra</b></li>
                </ul>
            </span>
		</div>
	</body>
</html>