<!DOCTYPE html>
<html>
    <head>
        <title>Corona Vision - Sources</title>
        {{>styles}}
    </head>
    <body>
        {{>navbar}}
        <div class="container box mx-auto">
            <h1 class="text-center">Sources: COVID-19 Data</h1>
            <ul>
                <li>
                    <a href="https://www.worldometers.info/coronavirus/">Worldometers (live country-level data, testing data)</a>
                </li>
                <li>
                    <a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports">JHU (county-level data for the US)</a>
                </li>
                <li>
                    Local government websites (province-level and county-level data for Japan, Italy, Spain, Portugal, Germany)
                </li>
                <li>
                    Our COVID-19 news is
				    <a href="http://newsapi.org/">powered by News API.</a>
                </li>
                <li>
                    We get a lot of live data from ArcGIS maps, which can be found on <a href="https://coronavirus-resources.esri.com/">coronavirus-resources.esri.com</a>
                </li>
                <li>
                    Social distancing data is from Google LLC's Global Mobility Reports.
                    <a href="https://www.google.com/covid19/mobility/">Click here for more info.</a>
                </li>
            </ul>
        </div>
    </body>
</html>