<!DOCTYPE html>
<html>
	<head>
		<title>Coronavirus Maps - Corona Vision</title>
		{{>styles}}
		<link rel="stylesheet" href="/css/svgMap.css">
		<script src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.classList%2CObject.assign"></script>
		<script src="/js/svgMap.js"></script>
		<script src="/js/map_animate.js"></script>
		<script>
			let colorOptions = {
				total: {
					colorMax: "#cc0000",
					colorMin: "#FFE5D9"
				},
				dtotal: {
					colorMax: "#f7723e",
					colorMin: "#ffd5c4"
				},
				deaths: {
					colorMax: "#d12e2e",
					colorMin: "#faa5a5"
				},
				recovered: {
					colorMax: "#68fc60",
					colorMin: "#eeffed"
				}
			}

			let currentData = {};

			let svg = null;

			// we store this because the date can change
			let feature = "total";

			function setFeature(newFeature) {
				feature = newFeature;
				updateFills();
			}

			function triggerTooltipUpdate() {
				let countryElement = $("path:hover");
				if (countryElement) {
					var stateName = countryElement.attr('title');
					if (stateName) {
						setTooltipInfo(stateName, currentData[stateName]);
					}
				}
			}

			function setDate(date, callback) {
				if (typeof date == "undefined") {
					date = $("#date").val();
				}
				$.getJSON(
					"/api/mapdata",
					{
						date: date,
						map: "{{mapID}}"
					},
					(stateData) => {
						currentData = stateData;
						console.log(currentData);
						updateFills();
						triggerTooltipUpdate();
						if (typeof callback != 'undefined') callback();
					}
				);
			}

			function minMax(array) {
				return {min: Math.min(...array), max: Math.max(...array)}
			}

			function dataMinMax(data, feature) {
				let array = [];
				for (let stateID in data) {
					if (stateID !== '') {
						array.push(data[stateID][feature]);
					}
				}
				return minMax(array);
			}

			function getRatio(min, max, value) {
				return (value - min) / (max - min);
			}

			function getColor(color1, color2, ratio) {
				color1 = color1.slice(-6);
				color2 = color2.slice(-6);
				var r = Math.ceil(parseInt(color1.substring(0, 2), 16) * ratio + parseInt(color2.substring(0, 2), 16) * (1 - ratio));
				var g = Math.ceil(parseInt(color1.substring(2, 4), 16) * ratio + parseInt(color2.substring(2, 4), 16) * (1 - ratio));
				var b = Math.ceil(parseInt(color1.substring(4, 6), 16) * ratio + parseInt(color2.substring(4, 6), 16) * (1 - ratio));
				return '#' + getHex(r) + getHex(g) + getHex(b);
			};

			function getHex(value) {
				value = value.toString(16);
				return ('0' + value).slice(-2);
			};

			function updateFills() {
				let {colorMin, colorMax} = colorOptions[feature];
				let thresMin = 0;
				let thresMax = 0;
				let {min, max} = dataMinMax(currentData, feature);
				thresMin = min;
				thresMax = max;
				$("path").attr("fill", COLORS.fg);
				for (let stateID in currentData) {
					if (stateID) {
						let featureValue = currentData[stateID][feature];
						let featureRatio = getRatio(thresMin, thresMax, featureValue);
						let overallColor = getColor(colorMax, colorMin, featureRatio);
						$(`[title="${stateID}"]`).attr("fill", overallColor);
					}
				}
			}

			function init() {
				loadSVG("/svgmap/{{mapID}}.svg");
			}

			function loadSVG(path) {
				fetch(path).then(
					response => {
						response.text().then(
							text => {
								$("#svgMap").html(text);
								addStateListeners();
								setDate($("#date").val());
							}
						)
					}
				);
			}

			function showTooltip() {
				$("#tooltip").css("display", "flex");
			}

			function generateHTML(label, content) {
				return `
					<div class="trow">
						<div class="font-weight-bold">${label}</div>
						<div>${content || "Unknown"}</div>
					</div>`
			}

			function setTooltipInfo(state, content) {
				let html = '';
				if (content) {
					html += generateHTML("Cases", content.total);
					html += generateHTML("Cases today", content.dtotal);
					html += generateHTML("Deaths", content.deaths);
					html += generateHTML("Recoveries", content.recovered);
				}
				$("#tooltipRows").html(html);
				$("#tooltipState").html(state);
			}

			function hideTooltip() {
				$("#tooltip").css("display", "none");
			}

			function moveTooltip(e) {
				let width = $("#tooltip").width();
				let height = $("#tooltip").height();
				$("#tooltip").css({left: e.pageX - width / 2, top: e.pageY - height - 30})
			}

			function addStateListeners() {
				for (let state of $("#svgMap path")) {
					let stateName = state.getAttribute("title");
					if (typeof stateName != 'undefined') {
						state.addEventListener('mousemove', function(e) {
							moveTooltip(e);
						});
						state.addEventListener('mouseenter', function(e) {
							showTooltip();
							setTooltipInfo(stateName, currentData[stateName]);
						});
						state.addEventListener('mouseleave', function() {
							hideTooltip();
						});
					}
				}

				$("#tooltip").mousemove((e) => {
					moveTooltip(e);
				});
			}
		</script>
		<style>
			#svgMap {
				stroke: #999;
				z-index: -1;
			}
			#mapWrapper {
				text-align: center;
			}
			#svgMap path:hover {
				stroke: #333;
			}
			#tooltip {
				flex-direction: column;
				padding: 0.5em;
				background-color: var(--color-fg-light, #f5f5f5);
				z-index: 1;
				color: var(--color-bg-dark, #f5f5f5);
			}
			#tooltip .trow {
				display: flex;
			}
			#tooltip .trow div {
				flex: 1;
				padding: 0 0.5em;
			}
			svg {
				width: auto!important;
				height: auto!important;
			}
		</style>
	</head>
	<body onload="init()">
		{{>navbar}}
		<div class="scroll box">
			Source: Local government websites, ESRI ARCGIS dashboards.<br/>
			<a href="http://mapsvg.com/">Map data from MapSVG.com</a><br/>
			<a href="/maps/heat">Heat Map</a> | <a href="/maps/world">World Map</a> | <b>Country Map</b><br/>
            <h3>Countries with Live Maps</h3>
			<div style="font-size: 1.5em;">
                <ul>
                    <li><a href='/maps/heat'>Heat map</a></li>
                    <li><a href='/maps/circle'>Circle map</a></li>
                    <li><a href='/maps/world'>World map</a></li>
                    <li><a href='/maps/country?country=Argentina'>Argentina map</a></li>
                    <li><a href='/maps/country?country=Australia'>Australia map</a></li>
                    <li><a href='/maps/country?country=Canada'>Canada map</a></li>
                    <li><a href='/maps/country?country=India'>India map</a></li>
                    <li><a href='/maps/country?country=Italy'>Italy map</a></li>
                    <li><a href='/maps/country?country=Japan'>Japan map</a></li>
                    <li><a href='/maps/country?country=Netherlands'>Netherlands map</a></li>
                    <li><a href='/maps/country?country=Portugal'>Portugal map</a></li>
                    <li><a href='/maps/country?country=South Korea'>South Korea map</a></li>
                    <li><a href='/maps/country?country=Spain'>Spain map</a></li>
                    <li><a href='/maps/country?country=United States'>United States state map</a></li>
                </ul>
            </div>
		</div>
	</body>
</html>
