<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision - Coronavirus Map</title>
		{% include 'styles.html' %}
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
		<script src="/static/js/corona_globals.js"></script>
		<script src="/static/js/corona_stats.js"></script>
		<script src="/static/js/corona_map.js"></script>

		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMm-5SUX6ELt2KfUfEF49RpvgRIj8J6w4&callback=init_coronamap">
		</script>

		<script>
			function init() {
				init_map();
			}
		</script>
	</head>
	<body onload="init()">
		{% include 'navbar.html' %}
		<!-- Map and charts -->
		<div class="container-fluid dashboard-container p-2">
			<!-- Map -->
			<div class="mx-2 scroll box" style="flex: 3;">
				{% include "map_panel.html" %}
			</div>
		</div>
	</body>
</html>
