@media (min-width: 576px)
.col-to-row {
	flex-direction: row!important;
}

@media (max-width: 576px)
.col-to-row {
	flex-direction: column!important;
}

.box {
	padding: 0.5rem;
	margin: 0.5rem;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
}

@media (max-width: 900px) {
	.do-the-five {
		width: 90%;
		font-size: 1.5rem;
	}
}

.do-the-five-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.do-the-five-footer small {
	padding-top: 8px;
}

.five-list {
	margin: auto;
	align-items: center;
}

.five-list-elem {
	display: block;
}

.five-number {
	font-weight: bold;
	color: red;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: 10px;
	display: inline-block;
}

.five-bold {
	font-weight: bold;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.five-desc {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.map {
	width: 100%;
}


.head-container {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

@media (max-width: 900px) {
	.head-container {
		flex-direction: column;
	}
}

.head-btn {
	width: 100%;
	height: 100%;
}

.form-inline .col-auto {
	padding-top: 1em;
	padding-bottom: 1em;
}

.good-width {
	margin-left: auto;
	margin-right: auto;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.lato {
	font-family: "Lato";
}

@media (min-width: 720px) and (max-width: 1440px) {
	.good-width {
		width: 75%;
	}
	.map {
		height: 30rem;
	}
}

@media (min-width: 1440px) {
	.good-width {
		width: 67.5%;
	}
	
	.map {
		height: 30rem;
	}
}

@media (max-width: 720px) {
	.map {
		height: 25rem;
	}
}

.no-deco {
	text-decoration: none;
	color: #111;
}

.no-deco:hover {
	text-decoration: none;
	color: #333;
}

.important-info {
	font-size: 1.5rem;
	letter-spacing: -0.1px;
	font-weight: bold;
}

.news-container {
	padding: 1rem;
	margin: 1rem;
}

.inline-form-item {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.inline-form-item label {
	margin-bottom: 0px;
}