<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision - Data by Country</title>
		{% include 'styles.html' %}
		<script src="/static/js/corona_datatables.js"></script>
		<script src="/static/js/corona_globals.js"></script>
		<script src="/static/js/corona_stats.js"></script>
		<script src="/static/js/selector.js"></script>
		<script>
			function init() {
				reload_data();
				init_selectors();
				init_stats_panel();
				CORONA_GLOBALS.reload_function = update_date;
			}

			function update_date() {
				reload_data();
				update_stats();
			}
		</script>
	</head>
	<body onload="init()">
		{% include 'navbar.html' %}
		<div class="column-container">
			<div class="container box" style="flex: 1;">
				<div class="scroll box d-flex flex-column" style="flex: 1;">
					<div id="stats-info">
						<code style="font-size: 1.5rem;">Loading...</code>
					</div><br/>
					Date:
					<select class="custom-input-color form-control my-2" id="date" onchange="update_date()" style="border-radius: 0.25rem;">
						<option value="live">Live</option>
						{% for date in sorted_dates %}
							<option value="{{date}}">{{date}}</option>
						{% endfor %}
					</select>
					Region: 
					{% include "selectors.html" %}
				</div>
			</div>
			<div class="container box d-flex flex-column" style="flex: 3;">
				<table id="datatable" class="data-container">
					<thead class="border-bottom pos-sticky datatable-head">
						<tr style="display: flex; background-color: var(--color-bg-dark, #212121);" class="py-2">
							<th style="flex: 2;">
								<input type="text" onkeyup="filter_table()" class="custom-input-color small-input" placeholder="Location" id="locationSearch">
							</th>
							<th style="flex: 1;">Confirmed</th>
							<th style="flex: 1;">24H</th>
							<th style="flex: 1;">Recovered</th>
							<th style="flex: 1;">24H</th>
							<th style="flex: 1;">Deaths</th>
							<th style="flex: 1;">24H</th>
							<th style="flex: 1;">Tests</th>
						</tr>
					</thead>
					<tbody id="tablebody"></tbody>
				</table>
			</div>
		</div>
	</body>
</html>