<div class="d-flex flex-column border rounded bg-white text-dark">
    <div class="p-2 m-auto">
        <img src="/static/img/Do_The_Five.gif" style="width: 240px;" class="m-auto" alt="Do the Five"><br/>
        <div class="five-list">
            <div class="five-list-elem">
                <div class="five-number">1</div><span class="five-bold">HANDS</span><span class="five-desc">Wash them often</span>
            </div>
            <div class="five-list-elem">
                <div class="five-number">2</div><span class="five-bold">ELBOW</span><span class="five-desc">Cough into it</span>
            </div>
            <div class="five-list-elem">
                <div class="five-number">3</div><span class="five-bold">FACE</span><span class="five-desc">Don't touch it</span>
            </div>
            <div class="five-list-elem">
                <div class="five-number">4</div><span class="five-bold">FEET</span><span class="five-desc">Stay more than 6ft apart</span>
            </div>
            <div class="five-list-elem">
                <div class="five-number">5</div><span class="five-bold">FEEL</span><span class="five-desc">sick? Stay home</span>
            </div>
        </div>
    </div>
    <div class="do-the-five-footer p-2">
        <small>Provided by Google</small>
        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"
            class="btn custom-button-color">
            Learn more
        </a>
    </div>
</div>