<html>
	<head>
		{% include "styles.html" %}
		<title>Estimate your risk</title>
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="container p-2">
			<h1 class="text-center">Estimate your risk</h1>
			{% if "submitted" in request.form %}
				<div class="container box d-flex flex-column px-3">
					<span style="font-size: 3rem;">Results</span><br/>
					<span style="font-size: 2rem;">Age:</span>
					<p>
						Your risk based on your age: <b>{{ age_danger }}</b>.<br/>
						The mortality rate within your age group is <b>{{ age_mortality }}%</b>.<br/>
						<a class="small" href="https://www.worldometers.info/coronavirus/coronavirus-age-sex-demographics/">
							Source
						</a>
					</p><br/>
					
					<span style="font-size: 2rem;">Preexisting conditions:</span>
					<p>
						{% if "cond_heart" in request.form %}
							<b>Heart disease</b><br/>
							The mortality rate among cases with heart disease is <b>10.5%</b>.<br/>
						{% endif %}
						{% if "cond_diabetes" in request.form %}
							<b>Diabetes</b><br/>
							The mortality rate among cases with diabetes is <b>7.3%</b>.<br/>
						{% endif %}
						{% if "cond_chronic_respiratory_disease" in request.form %}
							<b>Chronic respiratory disease</b><br/>
							The mortality rate among cases with chronic respiratory disease is <b>6.3%</b>.<br/>
						{% endif %}
						{% if "cond_hypertension" in request.form %}
							<b>Hypertension</b><br/>
							The mortality rate among cases with hypertension is <b>6.0%</b>.<br/>
						{% endif %}
						{% if "cond_cancer" in request.form %}
							<b>Cancer</b><br/>
							The mortality rate among cases with cancer is <b>5.6%</b>.<br/>
						{% endif %}
						{% if "cond_none" in request.form %}
							<b>None</b><br/>
							The mortality rate among cases with no preexisting conditions is <b>0.9%</b>.<br/>
						{% endif %}
						<a class="small" href="https://www.worldometers.info/coronavirus/coronavirus-age-sex-demographics/#pre-existing-conditions">
							More info
						</a>
					</p><br/>
					
					<span style="font-size: 2rem;">Analysis of symptoms:</span>
					<p>
						{% if "symptoms" in request.form and request.form['symptoms'] %}
							You wrote these symptoms:<br/>
							<code style="color: #f5f5f5;">
								{{ request.form['symptoms'] }}
							</code><br/>
						{% endif %}
						{% if mild_symptoms %}
							These symptoms that you listed are correlated with <b>mild</b> cases of COVID-19:<br/>
							<ul>
								{% for symptom in mild_symptoms %}
									<li>{{symptom}}</li>
								{% endfor %}
							</ul>
							For safety, you should self-isolate, to ensure that you aren't spreading the virus. If your symptoms worsen, seek medical attention.
							<br/>
							<a class="small" href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html">
								More info
							</a>
						{% endif %}

						{% if severe_symptoms %}
							These symptoms that you listed are correlated with <b>severe</b> cases of COVID-19:<br/>
							<ul>
								{% for symptom in severe_symptoms %}
									<li>{{symptom}}</li>
								{% endfor %}
							</ul>
							Contact your doctor <b>as soon as possible</b> if you exhibit any of these symptoms.
							<br/>
							<a class="small" href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html#warning-signs">
								More info
							</a>
						{% endif %}
							
						{% if not severe_symptoms and not mild_symptoms %}
							You didn't exhibit any symptoms that were related to COVID-19. However, this does not ensure that you do not have the virus, as the virus may not show symptoms for 2-14 days after first coming in contact with it.
							For safety, it's best to self-isolate even when you don't exhibit any symptoms, to ensure that you don't get the virus, or that you don't spread it in case you are a carrier.
							<br/>
							<a class="small"  href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">Source</a>
							<br/>
							<a class="small"  href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">More info</a>
						{% endif %}
					</p>
					<a href="/estimaterisk" class="btn custom-button-color">Reset form</a>
				</div>
			{% else %}
				<div class="container box d-flex flex-column">
					<form action="" method="post">
						<input type="hidden" name="submitted">
						<div class="grid">
							<div class="row my-2">
								<div class="col text-right">
									<label for="age">What is your age?</label>
									<a class="small" href="https://www.worldometers.info/coronavirus/coronavirus-age-sex-demographics/">Source</a>
								</div>
								<div class="col text-left">
									<input class="custom-input-color form-control" type="number" id="age" name="age" required>
								</div>
							</div>
							<div class="row my-2">
								<div class="col text-right">
									<label>Check off any pre-existing conditions:</label>
									<a class="small" href="https://www.worldometers.info/coronavirus/coronavirus-age-sex-demographics/#pre-existing-conditions">Source</a>
								</div>
								<div class="col text-left">
									<input type="checkbox" id="cond_heart" name="cond_heart">
										<label for="cond_heart">Heart disease</label>
									<br/>
									<input type="checkbox" id="cond_diabetes" name="cond_heart">
										<label for="cond_diabetes">Diabetes</label>							
									<br/>
									<input type="checkbox" id="cond_chronic_respiratory_disease" name="cond_chronic_respiratory_disease">
										<label for="cond_chronic_respiratory_disease">Chronic respiratory disease</label>
									<br/>
									<input type="checkbox" id="cond_hypertension" name="cond_hypertension">
										<label for="cond_hypertension">Hypertension</label>			
									<br/>
									<input type="checkbox" id="cond_cancer" name="cond_cancer">
										<label for="cond_cancer">Cancer</label>
									<br/>
									<input type="checkbox" id="cond_none" name="cond_none">
										<label for="cond_none">None</label>
									<br/>
								</div>
							</div>
							<div class="row my-2">
								<div class="col text-right">
									<label for="symptoms">List symptoms you are experiencing, if any:</label>
								</div>
								<div class="col text-left">
									<textarea name="symptoms" id="symptoms" class="custom-input-color form-control"></textarea>
								</div>
							</div>
							<div class="row pt-2">
								<div class="col"></div>
								<div class="col">
									<button type="submit" class="btn custom-button-color">Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			{% endif %}
		</div>
	</body>
</html>