<!DOCTYPE html>
<html>
	<head>
		<title>Find Nearby Coronavirus Cases</title>
		{% include 'styles.html' %}
		<script src="/static/js/corona_chart.js" type="text/javascript"></script>
		<script src="/static/js/corona_map.js" type="text/javascript"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMm-5SUX6ELt2KfUfEF49RpvgRIj8J6w4&callback=init_coronamap&libraries=places">
		</script>
	</head>
	<body onload="init()">
		{% include 'navbar.html' %}
		<div class="container-fluid">
			<!-- location selection -->
			<div class="container-fluid box d-flex" style="align-items: center;">
				<div class="inline-form-item">
					<label for="location">Location:</label>
				</div>
				<div class="inline-form-item">
					<input class='custom-input-color form-control' type="text" name="location" id="location">
				</div>
				<div class="inline-form-item">
					<label for="date">Date:</label>
				</div>
				<div class="inline-form-item">
					<select class="custom-input-color form-control" id="date" onchange="reload_cases();">
						{% for date in sorted_dates %}
							<option value="{{date}}">{{date}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="inline-form-item">
					<button class="btn custom-button-color" onclick="find_cases()">Find</button>
				</div>
			</div>
			
			<!-- Map and charts -->
			<div class="container-fluid box dashboard-container" style="height: 25rem;">
				<!-- Map -->
				<div class="box map-box scroll dash-6">
					<div class="mb-top">
						<noscript>
							This website requires JavaScript to run.
						</noscript>
						<h3>Map</h3>
						<a class="small" href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports">
							Source
						</a>
					</div>
					<div class="mb-bot">
						<div id="map" class="map"></div>
					</div>
				</div>
				<!-- Charts -->
				<div class="box text-center scroll dash-6">
					<h3>Charts</h3>
					<div>
						<div data-toggle="buttons">
							<label class="btn custom-button-color" for="set-linear">
								Linear scale
								<input id="set-linear" type="radio" name="scale-type" value="linear" checked>
							</label>
							<label class="btn custom-button-color" for="set-logarithmic">
								Logarithmic scale
								<input id="set-logarithmic" type="radio" name="scale-type" value="logarithmic">
							</label>
						</div>
						<div data-toggle="buttons">
							<label class="btn custom-button-color" for="set-total">
								Total
								<input id="set-total" type="radio" name="chart-type" value="total" checked>
							</label>
							<label class="btn custom-button-color" for="set-daily-change">
								Daily change
								<input id="set-daily-change" type="radio" name="chart-type" value="daily-change">
							</label>
						</div>
					</div>
					<canvas id="world-total"></canvas><br/>
					<canvas id="country-total"></canvas><br/>
					<canvas id="province-total"></canvas><br/>
					<canvas id="admin2-total"></canvas>
				</div>
			</div>
			<!-- stats -->
			<div class="container-fluid box">
				<h3>Stats</h3>
				<div class="location-info d-flex">
					<div id="world-info" class="mr-2" style="flex: 1;"></div>
					<div id="country-info" class="mr-2" style="flex: 1;"></div>
					<div id="province-info" class="mr-2" style="flex: 1;"></div>
					<div id="county-info"></div>
				</div>
			</div>
		</div>
	</body>
</html>