<div class="text-center head-container pt-2">
	<div class="col-md-3 pb-2">
		<a class="head-btn btn btn-primary" href="/visual">
			Charts
		</a>
	</div>
	<div class="col-md-3 pb-2">
		<a class="head-btn btn btn-primary" href="/whattodo">
			How to help
		</a>
	</div>
	<div class="col-md-3 pb-2">
		<a class="head-btn btn btn-primary" href="/findnearme">
			Map of cases
		</a>
	</div>
	<div class="col-md-3 pb-2">
		<a class="head-btn btn btn-primary" href="/recent">
			Recent news
		</a>
	</div>
</div>