<div class="text-center head-container pt-2">
	<div class="row">
		<div class="col-lg pb-2">
			<a class="head-btn btn btn-primary" href="/visual">
				Charts
			</a>
		</div>
		<div class="col-lg pb-2">
			<a class="head-btn btn btn-primary" href="/whattodo">
				How to help
			</a>
		</div>
		<div class="col-lg pb-2">
			<a class="head-btn btn btn-primary" href="/findnearme">
				Map of cases
			</a>
		</div>
		<div class="col-lg pb-2">
			<a class="head-btn btn btn-primary" href="/recent">
				Recent news
			</a>
		</div>
		<div class="col-lg pb-2">
			<a class="head-btn btn btn-primary" href="/calculaterisk">
				Calculate your risk
			</a>
		</div>
	</div>
</div>