<!DOCTYPE html>
<html>
	<head>
		<title>CoronAwareness</title>
		{% include 'styles.html' %}
	</head>
	<body>
		{% include 'navbar.html' %}
		<div class="p-2 text-center">
			<h1 class="display-1text-dark">Coronavirus Awareness</h1>
			{% include "head.html" %}
			<br/>
			<div class="mx-auto pb-2" style="display: block;">
				<img src="/static/Do_The_Five.gif" style="width: 240px;" alt="Do the Five"><br/>
			</div>
			<div class="do-the-five" style="width: 300px">
				<div class="five-list-elem">
					<div class="five-number">1</div><div class="five-bold">HANDS</div><div class="five-desc">Wash them often</div>
				</div>
				<div class="five-list-elem">
					<div class="five-number">2</div><div class="five-bold">ELBOW</div><div class="five-desc">Cough into it</div>
				</div>
				<div class="five-list-elem">
					<div class="five-number">3</div><div class="five-bold">FACE</div><div class="five-desc">Don't touch it</div>
				</div>
				<div class="five-list-elem">
					<div class="five-number">4</div><div class="five-bold">FEET</div><div class="five-desc">Stay more than 3ft apart</div>
				</div>
				<div class="five-list-elem">
					<div class="five-number">5</div><div class="five-bold">FEEL</div><div class="five-desc">sick? Stay home</div>
				</div>
			</div>
		</div>
	</body>
</html>