<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision</title>
		{% include 'styles.html' %}
	</head>
	<body>
		{% include 'navbar.html' %}
		<div class="container p-2 text-center">
			<a style="font-size: 2rem;" href="/findnearme">COVID-19 Map</a><br/>
			<a style="font-size: 2rem;" href="/history">COVID-19 Important Dates</a><br/>
			<a style="font-size: 2rem;" href="/visual">Create Custom Charts</a><br/>
			<a style="font-size: 2rem;" href="/calculaterisk">Calculate Your Risk</a><br/>
			
			<br/>
			<div class="container">
				{% include "do_the_five.html" %}
			</div>
		</div>
	</body>
</html>