<!DOCTYPE html>
<html>
	<head>
		<title>Find Nearby Coronavirus Cases</title>
		{% include 'styles.html' %}
		<!-- <link rel="stylesheet" href="/static/css/leaflet.css">
		<script src="/static/js/leaflet.js" type="text/javascript"></script> -->

		<script src="/static/js/corona_chart.js" type="text/javascript"></script>
		<script src="/static/js/corona_map.js" type="text/javascript"></script>
		<script src="/static/js/chart.min.js" type="text/javascript"></script>
		<script src="/static/js/selector.js" type="text/javascript"></script>
		<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMm-5SUX6ELt2KfUfEF49RpvgRIj8J6w4&callback=init_coronamap&libraries=places">
		</script>
		<script>
			function download_canvas(canvas_id) {
				let url = $("#" + canvas_id)[0].toDataURL("image/png;base64");
				let filename = 'COVID19_Chart.png';

				$("#download-chart")[0].href = url;
				$("#download-chart")[0].setAttribute("download", filename);
				$("#download-chart")[0].click();
			}
		</script>
	</head>
	<body onload="init()">
		<div class="container-fluid">
			<!-- Map and charts -->
			<div class="container-fluid box dashboard-container py-2">
				<!-- Map -->
				<div class="map-box scroll dash-4">
					<h3>Map
						<a style="font-size: 0.5rem;" href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports">
							Source
						</a>
					</h3>
					<div class="d-flex flex-column">
						<noscript>
							This website requires JavaScript to run.
						</noscript>
						<select name="map-type" class="custom-input-color form-control my-2">
							<option value="total">Total</option>
							<option value="daily-change">Change since yesterday</option>
						</select>
						<select name="map-display" class="custom-input-color form-control my-2">
							<option value="active">Active cases</option>
							<option value="confirmed">Confirmed cases</option>
							<option value="recovered">Recovered cases</option>
							<option value="dead">Deaths</option>
						</select>
						<select class="custom-input-color form-control my-2" id="date" onchange="reload_cases();">
							{% for date in sorted_dates %}
								<option value="{{date}}">Date: {{date}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="mb-bot">
						<div id="map" class="map my-2"></div>
					</div><br/>
				</div>
				<!-- stats -->
				<div class="container-fluid dash-2 scroll">
					<div class="d-flex flex-column">
						<h3>Stats</h3>
						{% include "selectors.html" %}
						<div id="stats-info"></div>
					</div>
					<hr class="custom-hr"/>
					<div class="d-flex flex-column">
						<h3>Charts</h3>
						<a id="download-chart" style="display: none;"></a>
						<div>
							<select name="scale-type" class="custom-input-color form-control my-2">
								<option value="linear">Scale: Linear</option>
								<option value="logarithmic">Scale: Logarithmic</option>
							</select>
							<select name="chart-type" class="custom-input-color form-control my-2">
								<option value="total">Displaying: Total</option>
								<option value="daily-change">Displaying: Daily change</option>
							</select>
						</div>
						<div>
							<canvas id="chart"></canvas><br/>
							<button class="btn custom-button-color" onclick="download_canvas('chart')">Download world chart</button>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>