<html>
	<head>
		{% include "styles.html" %}
		<title>Recent Coronavirus News</title>
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="p-2 good-width">
			<div class="text-center">
				{% include "head.html" %}
				<h1 class="display-1">Recent</h1>
			</div>
			<div class="box d-flex flex-column">
				<div class="box news-container">
					<span class="font-weight-bold">
						New York Times Coronavirus Updates
					</span><br/>
					<a href="http://nytimes.com/news-event/coronavirus">Link</a><br/>
					<hr/>
					<small>Posted by myfatemi04</small>
				</div>
			</div>
		</div>
	</body>
</html>