<html>
	<head>
		<title>About the Coronavirus</title>
		{% include "styles.html" %}
		<script src="/static/js/corona_chart.js"></script>
		<script src="/static/js/selector.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
		<script type="text/javascript">
			let main_chart = null;

			function init() {
				main_chart = new_chart("main-canvas");
				init_selectors(update_chart_location);

				$("select[name=scale-type]").change(
					function() {
						if (this.value == 'logarithmic' || this.value == 'linear') {
							main_chart.options.scales.yAxes[0].type = this.value;
							main_chart.update();
						}
					}
				);

				$("select[name=chart-type]").change(
					function() {
						chart_type = this.value;
						update_chart_location();
					}
				);

				update_chart_location();
			}
			
			function update_chart_location() {
				let country = $("#country-selector")[0].value;
				let province = $("#province-selector")[0].value;
				let admin2 = $("#admin2-selector")[0].value;
				
				let label = generate_name(country, province, admin2);
				
				show_chart(country, province, admin2, label, main_chart);
			}

			function download_canvas() {
				let url = $("#main-canvas")[0].toDataURL("image/png;base64");
				let filename = 'COVID19_Chart';
				if (country) filename += `_${country}`;
				if (province) filename += `_${province}`;
				if (admin2) filename += `_${admin2}`;
				filename += '.png';

				$("#download-chart")[0].href = url;
				$("#download-chart")[0].setAttribute("download", filename);
				$("#download-chart")[0].click();
			}
		</script>
		<script>
			function remove_loading() {
				$("#loading")[0].remove();
			}
		</script>
	</head>
	<body onload="init()">
		{% include "navbar.html" %}
		<div class="container p-2">
			<h1 class="text-center">Charts</h1>
			<div class="text-left box d-flex flex-column">
				{% include "selectors.html" %}
				<select name="scale-type" class="custom-input-color form-control my-2">
					<option value="linear">Scale: Linear</option>
					<option value="logarithmic">Scale: Logarithmic</option>
				</select>
				<select name="chart-type" class="custom-input-color form-control my-2">
					<option value="total">Displaying: Total</option>
					<option value="daily-change">Displaying: Daily change</option>
				</select>
				<a id="download-chart" style="display: none;"></a>
			</div>
			<div class="box">
				<canvas id="main-canvas"></canvas>
				<button class="btn custom-button-color mt-2" onclick="download_canvas()">
					Save Image
				</button>
			</div>
		</div>
	</body>
</html>