<html>
	<head>
		<title>About the Coronavirus</title>
		{% include "styles.html" %}
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="p-2 text-center">
			<h1 class="display-1">Coronavirus: Visually</h1>
			{% include "head.html" %}
			     <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRlpWa4s-Z9UVpHEoutXFHfdxXVxJVwp8jmXuF1UTzHLG45RPJlFIA2GYSze-wsUwp3FRNPelv3jRz0/pubchart?oid=2131811449&amp;format=interactive"></iframe>
			<br/><iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRlpWa4s-Z9UVpHEoutXFHfdxXVxJVwp8jmXuF1UTzHLG45RPJlFIA2GYSze-wsUwp3FRNPelv3jRz0/pubchart?oid=522390504&amp;format=interactive"></iframe>
			<br/><iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRlpWa4s-Z9UVpHEoutXFHfdxXVxJVwp8jmXuF1UTzHLG45RPJlFIA2GYSze-wsUwp3FRNPelv3jRz0/pubchart?oid=560369173&amp;format=interactive"></iframe>
		</div>
		
	</body>
</html>