<html>
	<head>
		<title>About the Coronavirus</title>
		{% include "styles.html" %}
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="p-2 mx-auto w-75 text-center">
			<h1 class="display-1">How can I help?</h1>
			{% include "head.html" %}
			<div class="container my-5 font-weight-light" style="font-size: 2rem;">
				<div class="row">
					<div class="col-sm mx-2">
						Wash your hands
					</div>
					<div class="col-sm mx-2">
						Avoid touching your face
					</div>
					<div class="col-sm mx-2">
						Social distancing
					</div>
				</div>
			</div>
			<h1 class="font-weight-light">Why are these important, if I'm not at risk?</h3>
			<img class="w-75" src="/static/Flatten-The-Curve.png"><br/>
			<p class="lead">
				The United States doesn't have enough hospital beds.
			</p>
			<p class="lead">
				The mortality rate of people over 80 years old is 14.80%.
			</p>
		</div>
	</body>
</html>