<html>
	<head>
		<title>About the Coronavirus</title>
		{% include "styles.html" %}
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="container p-2">
			<h1 class="display-1 text-center">The outcome of COVID-19 is in <b>our</b> hands.</h1>
			<div class="text-left box">
				<div class="px-2">
					<div style="font-size: 2rem; font-weight: 200;">
						Here are some things you can do:
						<ol>
							<li>Stay 6 feet away from others</li>
						</ol>
					</div>
					
					<a href="https://bgr.com/2020/03/13/flatten-the-curve-what-does-it-mean-coronavirus-covid-19/">
						Source: BGR
					</a>
				</div>
				
				<img class="w-50 border mx-auto" src="/static/img/Flatten-The-Curve.png"><br/>
				
				
				
				
				
				
				
				
			</div>
			
			<div class="d-flex flex-column border rounded">
				{% include "do_the_five.html" %}
			</div>
		</div>
	</body>
</html>