<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision</title>
        {{>coronavisionStyles}}
        <script>
            function back() {
                window.history.back();
            }
        </script>
	</head>
	<body>
		{{>coronavisionNavbar}}
		<div class="container box mx-auto d-flex flex-column align-items-center">
            <h1>This number has no single source.</h1>
            We compiled it from other sources, such as state governments or country governments.
            <a href="javascript:back()">Go back</a>
        </div>
	</body>
</html>