<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision</title>
        {{>styles}}
        <script>
            function back() {
                window.history.back();
            }
        </script>
	</head>
	<body>
		{{>navbar}}
		<div class="container box mx-auto d-flex flex-column align-items-center">
            <h1>Disclaimer</h1>
            Please note that our predictions are just that: predictions. Please don't make any decisions based off of them, as the future of the Coronavirus is uncertain.
            The predictions are just meant to be as a general idea for how the virus might go.
            Thank you for understanding :)
            <br/>Sincerely, the Corona Vision team
            <a href="javascript:back()">Go back</a>
        </div>
	</body>
</html>