<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision</title>
		{{> styles}}
	</head>
	<body>
		{{> navbar}}
		<div class="box">
			Sorry, there was an error.<br/>
			Code: <code>{{error}}</code>.<br/>
			If this error persists, email us at coronavisiontracker@gmail.com, and we'll get it fixed as soon as possible!
		</div>
	</body>
</html>