<html>
	<head>
		<title>Corona Vision - How To Help</title>
		{{>styles}}
	</head>
	<body>
		{{>navbar}}
		<div class="container p-2">
			<h1 class="text-center">The outcome of COVID-19 is in <b>our</b> hands.</h1>
			<div class="text-left box" style="font-size: 2rem;">
				<a href="#safety">Safety</a><br/>
				<a href="#donations">Donations</a><br/>
				<a href="#mask">How to make a mask</a><br/>
			</div>
			<div class="text-left box" id="safety">
				<h2>
					Keeping Yourself and Others Safe
				</h2>
				<div>
					<span style="font-size: 1.5rem;">
						Leave a 6-foot space between yourself and others.<br/>
					</span>
					<p>
						Six feet is roughly 2-3 strides, and it's the recommended distance to maintain between yourself and others.
						However, <a href="https://www.businessinsider.com/coronavirus-passes-between-people-6-feet-apart-2020">new guidelines</a>
						suggest that we maintain more than six feet.
					</p>
					<span style="font-size: 1.5rem;">
						Wash your hands frequently.<br/>
					</span>
					<p>
						Soap can break down the protective layer of viruses and wash them away. The process takes 20 seconds.<br/>
						Twenty seconds is like...
						<ul>
							<li>Singing "Happy Birthday" twice</li>
							<li>Singing the chorus to "Lose Yourself" by Eminem twice</li>
							<li>Singing the chorus to "Take on Me" by A-Ha</li>
							<li>Singing the chorus to "Stayin' Alive" by Bee Gees</li>
						</ul>
					</p>
					<span style="font-size: 1.5rem;">
						Stay home, save lives.<br/>
					</span>
					<p>
						Staying home prevents the spread of the virus to other people.<br/>
						<ul>
							<li>Even if you don't exhibit symptoms, you may still carry the virus.</li>
							<li>Please limit your daily travel to <b>essential</b> activities, such as grocery shopping.</li>
						</ul>
					</p>
					<span style="font-size: 1.5rem;">
						Don't touch your face.<br/>
					</span>
					<p>
						This is how the virus enters your body.
					</p>
					<span style="font-size: 1.5rem;">
						Cover your mouth when you cough or sneeze.<br/>
					</span>
					<p>
						<ul>
							<li>When you cough, droplets can spread as far as 20 feet (~6 meters).</li>
							<li>When you sneeze, droplets can spread as far as 25 feet (~8 meters).</li>
						</ul>
						<a href="https://www.sciencefocus.com/the-human-body/how-far-do-coughs-and-sneezes-travel/">Source</a>
					</p>
				</div>
			</div>
			<div class="text-left box" id="donations">
				<h2>
					Donating to hospitals in need
				</h2>
				<div>
					<p>Currently, many hospitals have a shortage of <b>ventilators and personal protective equipment (PPEs).</b>
					PPEs (surgical masks, gloves, faceshields) are essential to protect the healthcare workers that are fighting on the front lines.
					Help fight COVID-19 by donating to your local hospital and providing essential protective equipment to healthcare workers.</p>
					<ul>
						<li>
							<a href="https://foundation.inova.org/covid-19-how-can-i-help/">The Inova Health Foundation COVID-19 page</a>
						</li>
						<li>
							<a href="https://www.directrelief.org/emergency/coronavirus-outbreak/">Direct Relief:</a> a nonprofit that is expanding its coronavirus response efforts through the large-scale provision of PPE and other medical essentials.
						</li>
						<li>
							<a href="https://www.projectn95.org/">Project N95:</a> a nonprofit organization that distributes N95 masks, surgical gloves, face shields, and other PPEs to local hospitals in need.
						</li>
					</ul>
				</div>
			</div>
			<div class="text-left box" id="mask">
				<h2>How to make a mask</h2>
				We're glad you're interested in making a mask! Masks are important in places where it's difficult to maintain social distancing, e.g. grocery stores and pharmacies.<br/>
				<b>IMPORTANT:</b> The public should <i>not</i> purchase N95 masks or surgical masks; there is a shortage and healthcare workers need those masks to protect themselves.<br/>
				<b>Another note:</b> Wearing a mask isn't a substitute for social distancing.<br/>

				<h4>Method 1: The Old T-shirt Method</h4>
				<p>Materials: T-shirt and scissors</p>
				<ol>
					<li>
						Cut 7-8 inches from the bottom of a shirt.<br/>
						<img src="/img/facemask-instructions-tshirt-01.png" width=512>
					</li>
					<li>
						Cut a 6-7 inch rectangle from the side of the cutout, leaving thin strips of cloth above and below. Cut the strips of cloth.<br/>
						<img src="/img/facemask-instructions-tshirt-02.png" width=512>
					</li>
					<li>
						Use the strips of cloth to secure the mask to your face.<br/>
						<img src="/img/facemask-instructions-tshirt-03.png" width=512>
					</li>
				</ol>
				<h4>Method 2: The Bandanna Method</h4>
				<p>Materials: A bandanna (or other 20in. x 20in. cloth), rubber bands (or hair ties), scissors.</p>
				<ol>
					<li>
						Fold bandanna in half lengthwise.<br/>
						<img src="/img/Bandanna-Mask-01.png" width=512>
					</li>
					<li>
						Fold the top down, and the bottom up.<br/>
						<img src="/img/Bandanna-Mask-02.png" width=512>
					</li>
					<li>
						Place the rubber bands around the folded bandanna, about 6 inches apart.<br/>
						<img src="/img/Bandanna-Mask-03.png" width=512>
					</li>
					<li>
						Fold the sides in, folding the rubber bands into the bandanna.<br/>
						<img src="/img/Bandanna-Mask-04.png" width=512>
					</li>
					<li>
						Wear the mask by putting the rubber bands around your ears, and you're done!
					</li>
				</ol>
				<a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/diy-cloth-face-coverings.html">
					Source: CDC
				</a>
			</div>
		</div>
	</body>
</html>