<!DOCTYPE html>
<html>
	<head>
		<title>Corona Vision</title>
		{{> styles}}
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
		<script src="/js/corona_datatables.js"></script>
		<script src="/js/corona_globals.js"></script>
		<script src="/js/corona_chart.js"></script>
		<script src="/js/corona_stats.js"></script>
		<script src="/js/corona_util.js"></script>
		<script src="/js/selector.js"></script>
		<script>
			function init() {
				chart = new_chart("chart");
				init_chart_options();
				init_dates();
			}

			function update() {
				reload_data();  // corona_datatables.js
				update_stats(); // corona_stats.js
 				reload_chart(); // corona_chart.js
			}

			function update_nochart() {
				reload_data();
				update_stats();
			}

			function prev_day() {
				let date_elem = $("#date")[0];
				if (date_elem.selectedIndex < date_elem.length - 1) {
					date_elem.selectedIndex += 1;
				}
				$("#date").trigger("change");
				$("#date-label")[0].innerHTML = $("#date option:selected")[0].innerHTML;
			}

			function next_day() {
				let date_elem = $("#date")[0];
				if (date_elem.selectedIndex > 0) {
					date_elem.selectedIndex -= 1;
				}
				$("#date").trigger("change");
				$("#date-label")[0].innerHTML = $("#date option:selected")[0].innerHTML;
			}

			function init_dates() {
				$.getJSON(
					"/list/dates",
					{},
					(data) => {
						for (let result of data) {
							$("#date")[0].innerHTML += `<option value="${result.entry_date}">${result.entry_date == "live" ? "Live data" : result.entry_date}</option>`;
						}
						
						$("#date-label")[0].innerHTML = $("#date option:selected")[0].innerHTML;
						init_selectors(update, 0);
						init_stats_panel();
						update();
					}
				)
			}
		</script>
	</head>
	<body onload="init()">
		{{> navbar}}
		<div class="d-flex flex-column">
			<div class="column-container">
				<div class="box">
					<div id="stats-info" class="lato" style="display: none; font-size: 1.5rem;">
						<span id="stats-label" class="font-weight-bold"></span><br/>
						<span id="stats-total" class="font-weight-bold" style="color: #eb7a34"></span>
						<span class="stats-label">Total</span><br/>
						<span id="stats-dtotal" class="font-weight-bold" style="color: #ffbe96"></span>
						<span class="stats-label">New cases today</span><br/>
						<span id="stats-recovered" class="font-weight-bold text-success"></span>
						<span class="stats-label">Recoveries</span><br/>
						<span id="stats-deaths" class="font-weight-bold" style="color: #ff5252"></span>
						<span class="stats-label">Deaths</span><br/>
						<span id="stats-serious" class="font-weight-bold" style="color: #b02020"></span>
						<span class="stats-label">Severe cases</span><br/>
						<span id="stats-num_tests" class="font-weight-bold" style="color: #2121f5"></span>
						<span class="stats-label">Number of tests</span><br/>
					</div>
					<a href="/sources">Sources</a>
				</div>
				<div class="box" style="flex: 1;">
					Date:
					<select class="custom-input-color form-control my-2" id="date" onchange="update_nochart()" style="border-radius: 0.25rem;"></select><br/>
					Region:
					{{>selectors}}
				</div>
			</div>
			<div class="column-container">
				<div id="chart-container" class="box d-flex flex-column" style="flex: 1; height: 50em;">
					<canvas id="chart"></canvas>
					<a id="download-chart" style="display: none;"></a>
					<button class="btn custom-button-color my-2" onclick="download_canvas()">
						Save Image
					</button>
					{{>chart_options}}
					<div>
						<a href="/charts_info">More info about the charts</a>
					</div>
				</div>
				<table id="datatable" class="data-container" style="flex: 1; height: 50em;">
					<thead class="border-bottom pos-sticky datatable-head custom-bg">
						<tr>
							<th>
								Click on any stat to see its source.
							</th>
							<th>
								Last updated: {{last_update}}.
							</th>
							<th>
								Daily counts reset at UTC-0.
							</th>
						</tr>
						<tr class="d-flex py-2">
							<th style="flex: 2;">
								<input type="text" onkeyup="filter_table()" class="custom-input-color small-input" placeholder="Search for location" id="locationSearch">
							</th>
							<th style="flex: 1;">
								<a href="javascript:prev_day()">
									Previous
								</a>
							</th>
							<th style="flex: 1;" id="date-label">
								
							</th>
							<th style="flex: 1;">
								<a href="javascript:next_day()">
									Next
								</a>
							</th>
						</tr>
						<tr class="d-flex py-2" style="font-size: 0.9rem;">
							<th style="flex: 1;">#</th>
							<th style="flex: 2;">Updated</th>
							<th style="flex: 4;">Location</th>
							<th style="flex: 4;">Total</th>
							{{!-- <th style="flex: 1;">New</th> --}}
							<th style="flex: 2;">Recovered</th>
							<th style="flex: 2;">Deaths</th>
							{{!-- <th style="flex: 1;">New</th> --}}
							{{!-- <th style="flex: 1;">Tests</th> --}}
							<th style="flex: 2;">Severe</th>
							{{!-- <th style="flex: 1;">Source</th> --}}
						</tr>
					</thead>
					<tbody id="tablebody">
						
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>