<nav class="navbar navbar-expand-lg custom-nav-color border-bottom navbar-dark">
	<a href="/" class="mx-2"><img src="/img/dark_mode_logo.png" style="height: 2rem;"></a>
	<a class="navbar-brand lato" style="font-size: 2rem;" href="/"><b>CORONA</b> VISION</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-content">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Live Stats</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/maps/world">World Map</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/future">Charts</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/howtohelp">How to help</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/news">News</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="/disclaimer" class="nav-link">Disclaimer</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/sources">Sources</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/contact">Contact us</a>
			</li>
		</ul>
	</div>
</nav>