<select id="country-selector" class="custom-input-color form-control my-2">
    <option value="">Whole world</option>
</select>
<select id="admin1-selector" class="custom-input-color form-control my-2" style="display: none;">
    <option value="">Whole country</option>
</select>
<select id="county-selector" class="custom-input-color form-control my-2" style="display: none;">
    <option value="">Whole state</option>
</select>