<!DOCTYPE html>
<html>
	<head>
		<title>History of COVID-19 Spread - Corona Vision</title>
		{{>coronavisionStyles}}
		<script src="/js/corona_firsts.js" type="text/javascript"></script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMm-5SUX6ELt2KfUfEF49RpvgRIj8J6w4&callback=init_coronamap&libraries=places">
		</script>
	</head>
	<body onload="load_data()">
        {{>coronavisionNavbar}}
        <br/>
		<div class="container">
            <h1 class="text-center">History of infections</h1>
			<table id="table" class="custom-table-color table">
                <thead>
                    <th>Date</th>
                    <th>Countries infected</th>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>
		</div>
	</body>
</html>