@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.lato {
	font-family: "Lato";
}

.no-deco {
	text-decoration: none;
	color: #111;
}

.no-deco:hover {
	text-decoration: none;
	color: #333;
}

.bold-sans {
	font-family: "Open Sans";
	font-weight: 800;
}