.stats-row {
    display: flex;
    align-items: center;
}
.stats-row > :nth-child(1) {
    text-align: right;
    flex: 1;
    margin-right: 1em;
}
.stats-row > :nth-child(2) {
    text-align: left;
    flex: 2;
    margin-left: 1em;
}
.stats-row a {
    color: inherit;
    text-decoration: underline;
}
.stats-detail {
    font-size: 0.75em;
}

#countrySelector, #provinceSelector, #countySelector {
    text-align: center;
    text-align-last: center;
}

#datatable {
    background-color: inherit;
}

.dateSelector > * {
    margin-left: 1em;
    margin-right: 1em;
}

#countriesWithStatesList {
    display: flex;
    flex-wrap: wrap;
}

#countriesWithStatesList > a {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}

#countriesWithStatesList > a:hover {
    border: 2px solid var(--color-fg-light);
    border-radius: 2px;
    margin: 1px 5px;
    color: var(--color-fg-light);
}
