.map {
	width: 100%;
	height: 50em;
}

@media(min-width: 576px) {
	.dashboard-container {
		display: flex;
	}
	.chart-box-row {
		display: flex;
	}
}

.scroll {
	overflow-y: auto;
}

.chart-box-col {
	display: flex;
	flex-direction: column;
}

@media(max-width: 576px) {
	.dashboard-container {
		clear: both;
		display: flex;
		flex-direction: column;
	}
	.chart-box-row {
		display: flex;
		flex-direction: column;
	}
}
